*{

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #000000;
}

.caixaTexto {
    position: fixed;
    bottom: 12%;
    top: 12%;
    overflow-y: scroll;
    
}

.mensagem {
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #AAAAAA;
    border-radius: 2px;
    width: 100vw;
    margin: 2px 0;
    height: 40px;
}

.mensagem :nth-child(1){
    margin: auto 10px;
}

.mensagem :nth-child(2){
    margin-right: 20px;
    font-weight: 700;
}

ion-icon{
    position: fixed;
    right: 5%;
    
}

.topo{
    position: fixed;
    left: 0;
    top: 0; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    background-color: #FFFFFF;
    width: 100vw;
    height: 12%;
    display: flex;
    padding-left: 7%;
    padding-right: 7%;
    align-items: center;
    justify-content: space-between;
}

.escrever{
    position: fixed;
    left: 0;
    bottom: 0;
    box-shadow: 0px -4px 6px 0px #0000000D;
    background-color: #FFFFFF;
    width: 100vw;
    height: 12%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 7%;
    padding-right: 7%;
    
}

input{
    width: 75%;
    height: 50%;
    color: #000000;
    font-size: 18px;
    border: 0;
    font-style: italic;
    outline:0;

}
input:focus {
    outline:none!important;
}
    

.fundo {
    background-color: #E5E5E5;
}

.status{
    background-color: #DCDCDC;
}

.message{
    background-color: #FFFFFF;
}

.private_message{
    background-color: #FFDEDE;
}

w{
    font-weight: 400;
}